<div class="content">
  <button class="btn btn-secondary" routerLink="">Back</button>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Add Brand</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="brandAddForm">
          <div class="mb-3">
            <label for="name">Name</label>
            <div class="form-group">
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                placeholder="name"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-grid gap-2 col-6 mx-auto"></div>
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
